<img src="../assets/images/HomeBodyLogo.png" alt="Home Body Logo">
<form action="GET">
    <input type="text" placeholder="Email" id="email">
    <input type="text" placeholder="Password" id="password">
</form>