<div class="row" id="welcome">
    <img src="../assets/images/HomeBodyLogo.png" id="logo" alt="Home Body Logo">
    <form action="GET" id="login">
        <img src="../assets/images/HomeBodyLogo.png" id="logoLogin" alt="Home Body Logo">
        <input type="text" placeholder="Email" id="email">
        <input type="text" placeholder="Password" id="password">
        <a class="waves-effect waves-light btn">Login</a>
 <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sign-Up</a>
    </form>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <form action="POST" id="signUp">
        <img src="../assets/images/HomeBodyLogo.png" id="logoLogin" alt="Home Body Logo">
        <input type="text" placeholder="User Name" id="username">
        <input type="text" placeholder="Email" id="email">
        <input type="text" placeholder="Password" id="password">
        <a class="waves-effect waves-light btn">SignUp</a>
    </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>