<div class="row" id="welcome">
    <img src="../assets/images/HomeBodyLogo.png" id="logo" alt="Home Body Logo">
    <form action="GET" id="login">
        <input type="text" placeholder="Email" id="email">
        <input type="text" placeholder="Password" id="password">
    </form>
</div>