<a href="/logout" class="btn btn-secondary" id="logoutbtn">Logout</a>
<div class="container">
  <div class="row">
    <h3>Hello {{ user.username }}, welcome to Home Body</h3>
    <p>Home Body is an App that allows users to know nutritious facts about the foods they consume.</p>
    
  </div>
  <div class="row">
    <form id="foodform">
      <input id="foodSearch" type="text" placeholder="Enter Food Name">
    </form>
  </div>
  <div class="row">
    <div class="col s12.m10">
      <h4>Searched Item:</h4>
      <h6>Calories: <span class="itemCal"></span></h6>
      <h6>Fat(g): <span class="itemFat"></span></h6>
      <h6>Sugar(g): <span class="itemSugar"></span></h6>
      <h6>Carbs(g): <span class="itemCarbs"></span></h6>
    </div>
    <div class="col s12 m2">
    </div>
  </div>
  <div class="row">
      <a id="addBtn" class="btn btn-secondary">Add to Chart</a>
    <h4>Today's Totals</h4>
    <div class="col s12 m6">
      <h5>Calories Total</h5>
      <canvas id="calChart"></canvas>
    </div>
    <div class="col s12 m6">
      <h5>Fat Total</h5>
      <canvas id="fatChart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <h5>Sugar Total</h5>
      <canvas id="sugarChart"></canvas>
    </div>
    <div class="col s12 m6">
      <h5>Carb Total</h5>
      <canvas id="carbChart"></canvas>
    </div>
  </div>
</div>
