<a href="/logout" class="btn btn-secondary">Logout</a>
<div class="container">
  <div class="row">
    <h3>welcome {{ user.username }} to Home Body</h3>
    <h1>Calories: </h1><h1 id="calories"></h1>
  </div>
  <div class="row">
    <form id="foodform">
      <input id="foodSearch" type="text" placeholder="Enter Food Name">
    </form>
  </div>
  <div class="row">
    <div class="col s12 m10">
      <div class="searchResults"></div>
    </div>
    <div class="col s12 m2">
        <a href="" class="btn btn-secondary">Add to Charts</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <canvas id="calChart"></canvas>
    </div>
    <div class="col s12 m6">
      <canvas id="fatChart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <canvas id="sugarChart"></canvas>
    </div>
    <div class="col s12 m6">
      <canvas id="carbChart"></canvas>
    </div>
  </div>
</div>
