<div class="slider fullscreen">
    <p>Calories: {{item}}</p>
    <ul class="slides">
        <li>
            
            <div class="caption center-align">
                <h3>welcome {{ user.username }} to Home Body</h3>
                <h5 class="light grey-text text-lighten-3">Fun Private Workouts</h5>
                <a href="/logout" class="btn btn-secondary">Logout</a>
                <form id="foodform">
                    <input id="foodSearch" type="text" placeholder="Enter Food Name">
                </form>
            </div>
        </li>
        <li>
            {{!-- <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image --> --}}
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        
    </ul>
</div>
