html {
  background: url(/assets/images/raspberry-102-4320x3240.png) no-repeat center fixed;
  background-size: cover;
  margin-top: auto;
  
}
#welcome {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  
  
}
#loginbtn, .btn{
  background-color: #75172f;
}
#loginbtn:hover, .btn:hover{
  background-color: #723b48;
}
#logo {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  
}
#login {
  width: 100%;
  display: none;
  
}
#logoLogin {
  height: 50%;
  width: 50%;
  margin-top: 10%;
}
#footer {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer img {
  display: block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

