html {
  background: url(https://picsum.photos/id/999/4000/2667?&blur=8) no-repeat center fixed;
  background-size: cover;
  margin-top: auto;
  display: none;
  font-family: 'Roboto Condensed', sans-serif;
   
}

#loginbtn, .btn{
  background-color: #75172f;
  width: 20%;
  margin-top: 20px;
}
#modalbtn{
  text-align: center;
  margin-top: 5px;
  display: none;
}

#loginbtn:hover, .btn:hover{
  background-color: #723b48;
}
#logo {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  text-align: center;
  
}
#email, #password, #username, #pSignup, #eSignup {
  border-bottom: 2px solid rgba(128, 128, 128, 0.651);
  padding-left: 5px;
  width: 100%;
}
#foodSearch{
  border-bottom: 2px solid rgba(128, 128, 128, 0.651);
  padding-left: 5px;
  width: 50%;
}
::placeholder{
  color: white;
}
.modal-trigger {
  width: 150px;
  display: none;
  text-align: center;
  margin: auto;
  
}
#logoLogin {
  height: 50%;
  width: 50%;
  margin: 5% 0;
}
#footer {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer img {
  display: block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.modal{
background-color: #283a298c;
text-align: center;
} 

h3, p{
  color: white;
  text-align: center;
  font-weight: bold;
  
  
}

